.authBg{
    display: flex;
    padding: 80px 0px;
    align-items: center;
    justify-content: center;
}

.authCard{
    padding: 32px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.07);
    display: flex;
    flex-direction: column;
    align-items: center;


}


.label{
    color: var(--Black, #3E3232);
    font-feature-settings: 'liga' off, 'clig' off;

    /* H5 */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 10px;
}


.inpBg{
    margin-bottom: 20px;
    width: 400px;
    display: flex;
    align-items: center;
    gap: 12px;
    background: var(--Gray, #F5F5F5);
    border-radius: 12px;
    padding: 10px 22px;


}
.inp{
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    padding: 3px;
    color: var(--Black-75, rgba(62, 50, 50, 0.75));
    font-feature-settings: 'liga' off, 'clig' off;
    border-left: 1px solid rgba(0, 0, 0, 0.236);
    padding-left: 10px;

    /* Input text */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.formBtn{
    width: 100%;
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    outline: none;
    border: none;
    border-radius: 12px;
    padding: 12px 0px;
     color: var(--White, #FFF);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;

    /* Button */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    text-transform: capitalize;
    border-radius: 12px;
    background: var(--Primary-75, rgba(248, 21, 57, 0.75));
    transition: all 0.5s;
}

.btnIcon{
    font-size: 24px;
}

.formBtn:hover{
    transform: scale(1.07);
    background-color:rgb(248, 21, 59);
}


.title{
    font-family: Roboto;
    font-size: 38px;
}

.info{
    font-family: Roboto;
    font-size: 16px;
    color: var(--Black-75, rgba(62, 50, 50, 0.75));

}

.toggleBtn{
    background: transparent;
    border: none;
    outline: none;
}


@media only screen and (max-width: 600px) {
    .authBg{
        height: 70vh;
    }
    .inpBg{
        width: 100%;
    }
}
